.wrapper {
    background-color: #FCFCFD;
    border: 1px solid #E4E7EC;
    border-radius: 0.25rem;
    padding: 2rem;
}

.title {
    margin: 0;
    text-align: center;
}

.content {
    margin-top: 1rem;
}

.actions {
    margin-top: 2rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.actions button:only-child {
    margin-left: auto;
}
