.backdrop {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    z-index: 10;
    background: rgba(0, 0, 0, 0.75);
}

.modal {
    position: fixed;
    top: 50%;
    transform: translateY(-50%);
    left: 10%;
    width: 80%;
    z-index: 100;
    overflow: hidden;
    max-height: 80vh;
    border-radius: 1rem;
}

.header {
    background: aliceblue;
    padding: 1rem;
}

.header p {
    margin: 0;
    color: black;
    text-align: center;
    font-size: 32px;
}

.content {
    padding-inline: 1rem;
    background-color: white;
    height: 100%;
    max-height: calc(30rem - 3rem);
    overflow: hidden auto;
    font-size: 18px;
}

.footer {
    padding: 1rem;
    display: flex;
    justify-content: flex-end;
    background-color: aliceblue;
    position: relative;
    bottom: 0;
    width: 100%;
}
