.button {
    padding: 0.35rem 1rem;
    border-radius: 0.25rem;
    border: 1px solid #b1b4ba;
    cursor: pointer;
    background-color: white;
    font-family: inherit;
    font-size: 0.75rem;
    text-align: center;
    line-height: 1.3;
    transition: 150ms all ease-in-out;
}

.button:hover {
    background-color: #efefef;
    border-color:#95979b;
}

.button.button--dark {
    background-color: rgb(116, 116, 218);
}