.control {
    display: flex;
    gap: 0.5rem;
    align-items: center;
}

.label {
    font-weight: 500;
    font-size: 18px;
    flex-shrink: 0;
}

.input {
    width: 100%;
    background-color: white;
    outline: none;
    border: 1px solid steelblue;
    border-radius: .25rem;
    padding: .5rem;
    min-height: 2.5rem;
}